.container {
    width: 1200px;
    margin-bottom: 20px;
    height: 600px;
    }
.row {
height: 100%
    }

body {
    background-image: url(../images/Arena.jpg);
    background-repeat: no-repeat;
    background-size: 1200px;
    position: relative;
    text-align: center;
}

.col-md-2 {
    margin: 15.5% auto 0;
    position: relative;
    padding: 0;
}

h2{
    color: white;
}

.hp {
    color: white;
    background-color: gray;
    border: white solid 2px;
    display: inline-block;
    padding: 10px;
    font-size: 20px;
}

img {
    height: 150px;
    display: block;
}