.container {
    width: 1000px;
    margin-bottom: 20px;
    }

body {
    background-image: url(../images/Arena.jpg);
    background-repeat: no-repeat;
    background-size: 1200px;
    position: relative;
    text-align: center;
}

.col-md-2 {
    margin: 15.5% auto 0;
    position: relative;
    padding: 0;
}

img {
    height: 150px;
    display: block;
}